PORT=6700
CORS_ORIGINS=https://qeivision1-78bs.vercel.app
DB_USER=sa
DB_PASSWORD=
DB_SERVER=
DB_PORT=1433
DB_NAME=Autoshop
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
# JSON sin secretos: claves, nombre y sucursal_id por tienda.
STORES_JSON={"HME":{"nombre":"H.M. Elena","sucursal_id":8},"HMV":{"nombre":"H.M. Victoria","sucursal_id":3},"MDBA":{"nombre":"M. del Buen Aire","sucursal_id":1015},"MERV":{"nombre":"Maria Eugenia R&V","sucursal_id":1011}}
